.academic {


display: flex;
flex-direction: column;
align-items: center;
padding: 3rem 1;


width: 100%;
height: auto;

/* Azul/10% */

background: #EAF2FD;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}



@media screen and (min-width: 1024px) {
    .academic {


        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1;
        
        
        width: 100%;
        height: auto;
        
        /* Azul/10% */
        
        background: #EAF2FD;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        }
}