.cabecera {
    background:#f9f9f9;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: 0.75rem;
    position: absolute;

 }
 .menu{
    text-align: center;
 }

@media screen and (min-width: 1024px) { 

    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

}
