.experience {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   gap: 32px;
   
   width: 100%;
   
}

.experience__list {
   display: flex;
   flex-direction: column;
   align-items: center;
}




@media screen and (min-width: 1024px) {
.experience {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 100%;
height: 2721px;


/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;

}

.experience__list {
   /* Itens */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 64px;

width: 1136px;
height: 1816px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
}