.experience__description {
/* Botoes */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 51px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}