.experiencie__box {

    display: flex;
    flex-direction: column;
    padding: 21px 20px;
    box-shadow: 0 2px 10px 2px #00000010;

    margin-bottom: 2.1rem;
}



@media screen and (min-width: 1024px) {
.experiencie__box {
/* Experiência */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 1136px;
height: 406px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
}