.experiencie__box {
/* Experiência */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 1136px;
height: 406px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}