.title__div {
    /* flex-direction: column; */
} 






@media screen and (min-width: 1024px) {
    .title__div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding: 3rem;
      
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}